.container {
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar {
  width: 280px;
  height: 400px;
  position: relative;

  > div {
    position: absolute;
    will-change: transform;
    display: flex;
    align-items: center;
    justify-content: center;
    touch-action: none;
  }

  > div > div {
    cursor: pointer;
    background-color: white;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center center;
    width: 45vh;
    max-width: 280px;
    height: 85vh;
    max-height: 400px;
    will-change: transform;
    border-radius: 10px;
    box-shadow: 0 12.5px 100px -10px rgba(50, 50, 73, 0.4), 0 10px 10px -10px rgba(50, 50, 73, 0.3);
  }
}

.welcome {
  margin-left: 3.5rem;
  margin-top: 0rem;
  font-weight: bold;
  font-size: 3rem;
  width: 450px;
  height: 200px;
}

.contact {
  font-size: 1.1rem;
  margin-top: 2rem;
}

.hello {
  max-width: 600px;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    margin-top: 1rem;
  }
  
  .welcome{
    font-size: 2rem;
    margin-left: 0;
    margin-top: 1.5rem;
    padding: 1rem;
    text-align: center;
    height: 100px;
  }

  .hello {
    max-width: 450px;
  }
}

@media only screen and (max-width: 468px) {
  .welcome{
    font-size: 2rem;
    padding: 0;
    width: 300px;

    > div {
      width: 100%;
    }
  }

  .avatar {
    width: 250px;
    height: 357px;
  
    > div > div {
      max-width: 250px;
      max-height: 357px;
    }
  }
}

@media only screen and (max-width: 400px) {
  .avatar {
    width: 230px;
    height: 328px;
  
    > div > div {
      max-width: 230px;
      max-height: 328px;
    }
  }
}