.ticket {
    display: flex;
    justify-content: center;
    max-width: 100% !important;
    margin: 0 auto 1rem auto;
}

.wallet{
    display: flex;
    align-items: center;
    justify-content: center;
}