.ticket {
    max-width: 400px;
    margin-bottom: 2rem;
}

.nftblurb {
    max-width: 600px;
    font-size: 1rem;
    font-weight: 500;
    line-height: 2.1rem;
}

.wallet{
    display: flex;
    align-items: center;
    justify-content: center;
}